release.keyAlias=KEY_ALIAS
release.keyPassword=KEY_PASSWORD
release.storeFile=DIRECTORY\\STORE_FILE.JKS
release.storePassword=STORE_PASSWORD

debug.keyAlias=KEY_ALIAS
debug.keyPassword=KEY_PASSWORD
debug.storeFile=DIRECTORY\\STORE_FILE.JKS
debug.storePassword=STORE_PASSWORD

development.keyAlias=KEY_ALIAS
development.keyPassword=KEY_PASSWORD
development.storeFile=DIRECTORY\\STORE_FILE.JKS
development.storePassword=STORE_PASSWORD